# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/
linux/
macos/
windows/
web/
.dart_tool/
